body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CodeMirror{
  min-height: 50px !important;
  height: auto !important;
}
textarea{
  width: 100%;
  min-height: 7vh;
  border: 1px solid #e5e1db;
  border-radius: 5px;
  resize: none;
}
textarea:focus{
    outline: none;
}
a{
  color: #36c5ce;
  text-decoration: none;
}
